.pagination {
    .btn {
      min-width: 1rem;
      line-height: unset;
      height: 1rem;
      margin: 5px !important;
      &.btn-primary {
        a {
          color: #ffffff;
        }
      }
      &.btn-disabled {
        a {
          color: #565656;
        }
        cursor: not-allowed;
        background-color: #ccc;
        border-color: #ccc;
        opacity: .4;
      }
    }
  }