<!-- <div class="text-left kb-articles-container">
    <div class="card mt-0">
      <div class="card-header">
        {{productInfo.KBArticleTitle}}
      </div>
      <div class="card-block">
        <div class="card-text">
            <button class="btn btn-info-outline px-1">{{productInfo.btnLabel}}</button>
        </div>
        <div class="card-text" *ngFor="let article of productInfo.KBArticles">
            <a [href]="article.url">{{article.linkText}}</a>
            <p class="article-desc mt-0">{{article.desc}}</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-md-12 mx-auto spinner-container" *ngIf="spinner">
    <span class="spinner spinner-sm">
        Loading...
    </span>
  </div>
      <div class="col-md-12 mx-auto" *ngIf="kbList">
        <!-- <h4 id="link1">{{kbList.pipeline}}</h4> -->
        <div id="content1" class="mt-1">
          <div class="row mb-1" *ngFor="let item of kbList; let i = index">
            <div class="col-md-12 text-left">
              <div> <a href="{{item.PrintableUri}}" class="kbURL" innerHTML="{{item.title}}"></a> </div>
              <div class="desc" innerHTML="{{item.excerpt}}"></div>
            </div>
          </div>
          <div class="createSupportRequest mt-1" *ngIf="showSupportBtnList">
            <div class="text-center">Cannot find what you are looking for?</div>
            <div class="text-center">
              <button class="btn btn-primary">Ask the community</button><button class="btn btn-primary" (click)="goToCreateSupportReqPage()" [routerLink]="['/createsupportrequest']">Create support request</button></div>
          </div>
        </div>
      </div>