.support-request-form {
    .form-group {
        padding-left: 6rem;

        .label:first-child {
            width: 5.5rem;
        }
        .select {
            width: 100%;

            .placeholder-text {
                color: #a9a9a9;
            }
        }
        .radio:nth-child(2) {
            flex: 0 1 28%;
        }
        .radio:nth-child(3) {
            flex: 0 1 40%;
        }

        textarea {
            height: 100px;
        }
    }
}