.spinner-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
.support-request-form {
    .form-group {
        @media (min-width: 768px) {
            padding-left: 6rem;
        }
        .label:first-child {
            width: 5.5rem;
        }
        .select {
            width: 100%;

            .placeholder-text {
                color: #a9a9a9;
            }
        }
        .radio:nth-child(2) {
            @media (min-width: 769px) {
                flex: 0 1 28%;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                flex: 0 1 100%;
            }
            @media (max-width: 767px) {
                flex: 0 1 35%;
            }
        }
        .radio:nth-child(3) {
            flex: 0 1 40%;
            @media (min-width: 768px) and (max-width: 1024px) {
                flex: 0 1 100%;
            }
        }

        textarea {
            height: 100px;
        }
    }
}